<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<appSettings>
		<add key="empresa" value="impacta"/>
		<add key="desconto" value="10%"/>
	</appSettings>
	<connectionStrings>
		<add name="sqlserver" connectionString="server=localhost..."/>
		<add name="cursoConnectionString1" connectionString="Data Source=localhost\sqlexpress;Initial Catalog=curso;Integrated Security=True;Pooling=False" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<globalization culture="pt-br"/>
		<pages theme="padrao"></pages>
		<compilation debug="true"/>
		<authentication mode="Windows"/>
		<customErrors mode="Off" defaultRedirect="Erro.htm">
			<error statusCode="403" redirect="NoAccess.htm"/>
			<error statusCode="404" redirect="PaginaInexistente.aspx"/>
		</customErrors>
	</system.web>
</configuration>
